<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Post your Blog </title>
  <script src="/static/js/modernizr.js"></script>

  <link rel="stylesheet" href="/static/css/style1.css">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- mobile specific metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <!-- script
  ================================================== -->
  <script src="/static/js/modernizr.js"></script>
  <script defer src="/static/js/fontawesome/all.min.js"></script>
 
 
</head>

<body id="top">



    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Header
    ================================================== -->
    <header class="s-header">

        <div class="row">

            <div class="s-header__content column">
                <h1 class="s-header__logotext">
                    <a href="index.html" title="" style="font-size: 6.2rem;  font-family: Georgia, serif;">Discover Insights: Explore Blogs!</a>
                </h1>
                <p class="s-header__tagline">Fuel Your Curiosity: Discover Fascinating Stories in Our Blogging Universe!</p>
            </div>

        </div> <!-- end row -->

       <nav class="s-header__nav-wrap">

           <div class="row">

               <ul class="s-header__nav">
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="/user/postyourblog">Post Blog</a></li>	
                    <li><a href="/user">Log In</a></li>
                    <li><a href="/user/registration">Sign Up</a></li>
                    <li><a href="/user/logOut">Log Out</a></li>
                    
                </ul> <!-- end #nav -->
           </div> 

        </nav> <!-- end #nav-wrap -->

        <a class="header-menu-toggle" href="#0" title="Menu"><span>Menu</span></a>

    </header> <!-- Header End -->





    {{!-- <h5 style="color: red; justify-content: center; display: flex; font-size: 2rem;">Only 20 Min Allow to Post Your Blog on this website after You going to Log Out</h5> --}}
    <div class="container">
        <form action="/user/postBlog" method="post">
            <div class="title">Bloging</div>
            <span class="details">Title</span>
            <div class="underline textarea_input">
                {{!-- <input type="text" placeholder="Enter Your Title of Blog" name="title" class="title" id="title" required> --}}
                <textarea name="title" id="title"  cols="30" rows="10"></textarea>
                <div class="underline"></div>
            </div>
            <span class="details">Context</span>
            <div class="underline textarea_input">
                {{!-- <input type="textarea" placeholder="Enter Your context of Blog" name="context" class="context" id="context" required> --}}
                <textarea name="context" id="context" class="context" cols="30" rows="10"></textarea>
                <div class="underline"></div>
            </div>
            <br>
            <button type="submit">Post your blog</button>
        </form>
    </div>






    {{>footer}}

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>