<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Bloging | Home</title>

    <link rel="stylesheet" href="/static/css/style1.css">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/static/js/modernizr.js"></script>
    <script defer src="/static/js/fontawesome/all.min.js"></script>

    <!-- favicons
    ================================================== -->  
    <link rel="manifest" href="site.webmanifest">
    
</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Header
    ================================================== -->
    <header class="s-header">

        <div class="row">

            <div class="s-header__content column">
                <h1 class="s-header__logotext">
                    <a href="index.html" title="" style="font-size: 6.2rem;  font-family: Georgia, serif;">Discover Insights: Explore Blogs!</a>
                </h1>
                <p class="s-header__tagline">Fuel Your Curiosity: Discover Fascinating Stories in Our Blogging Universe!</p>
            </div>

        </div> <!-- end row -->

       <nav class="s-header__nav-wrap">

           <div class="row">

               <ul class="s-header__nav">
                    <li class="current"><a href="/">Home</a></li>
                    <li><a href="/user/postyourblog">Post Blog</a></li>	
                    <li><a href="/user">Log In</a></li>
                    <li><a href="/user/registration">Sign Up</a></li>
                    <li><a href="/user/logOut">Log Out</a></li>
                    
                </ul> <!-- end #nav -->
           </div> 

        </nav> <!-- end #nav-wrap -->

        <a class="header-menu-toggle" href="#0" title="Menu"><span>Menu</span></a>

    </header> <!-- Header End -->



    {{>content data=data text=text}}


     {{>footer text=text}}


    <!-- Java Script
    ================================================== -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/main.js"></script>


</body>

</html>