<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Registration</title>

  <link rel="stylesheet" href="/static/css/style1.css">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- mobile specific metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <!-- script
  ================================================== -->
  <script src="/static/js/modernizr.js"></script>
  <script defer src="/static/js/fontawesome/all.min.js"></script>
 
</head>

<body id="top">


  <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Header
    ================================================== -->
    <header class="s-header">

        <div class="row">

            <div class="s-header__content column">
                <h1 class="s-header__logotext">
                    <a href="index.html" title="" style="font-size: 6.2rem;  font-family: Georgia, serif;">Discover Insights: Explore Blogs!</a>
                </h1>
                <p class="s-header__tagline">Fuel Your Curiosity: Discover Fascinating Stories in Our Blogging Universe!</p>
            </div>

        </div> <!-- end row -->

       <nav class="s-header__nav-wrap">

           <div class="row">

               <ul class="s-header__nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/user/postyourblog">Post Blog</a></li>	
                    <li><a href="/user">Log In</a></li>
                    <li class="current"><a href="/user/registration">Sign Up</a></li>
                    <li><a href="/user/logOut">Log Out</a></li>
                    
                </ul> <!-- end #nav -->
           </div> 

        </nav> <!-- end #nav-wrap -->

        <a class="header-menu-toggle" href="#0" title="Menu"><span>Menu</span></a>

    </header> <!-- Header End -->


  <div class="container">
    <form action="/user/VerifySignup" method="post">
      <div class="title">Registration</div>
      <span class="details">Full Name</span>
      <div class="input-box underline">
        <input type="text" placeholder="Enter your name" name="name" required>
        <div class="underline"></div>
      </div>
      <span class="details">Username</span>
      <div class="input-box">
        <input type="text" placeholder="Enter your username" name="user" id="user" required>
        <div class="underline"></div>
      </div>
      <span class="details">Email</span>
      <div class="input-box">
        <input type="text" placeholder="Enter your email" name="email" id="email" required>
      <div class="underline"></div>
      </div>
      <span class="details">Password</span>
      <div class="input-box">
        <input type="text" placeholder="Enter your password" name="pass" id="pass" required>
      <div class="underline"></div>
      </div>
      <span class="details">Confirm Password</span>
      <div class="input-box">
        <input type="text" placeholder="Confirm your password" name="cpass" id="cpass" required>
      <div class="underline"></div>
      </div>
      <div class="input-box button">
        <input type="submit" name="" value="Continue">
      </div>
      {{!-- <div>
        <p style="color: red; justify-content: center; display: flex; font-size: 1.2rem;">After registration contact to admin to verify
          your permission</p>
      </div> --}}
    </form>
  </div>
{{>footer}}

<script src="/static/js/jquery-3.2.1.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>